
body{
  background-image: url(/img/background-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  --mainColor: #41BEB7;
  --textColor:#8F8F8F;
}


a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1.2em;
  padding-top: 3em;
  padding-bottom: 5em;
  position: relative;
  left: 80%;
  opacity: 80%;

}

.linkedin-logo{
  width:90px;
  opacity: .6;
}

.github-logo{
  width:75px;
  opacity: .4;
}

.github-logo, .linkedin-logo{
  height: auto;
  filter: grayscale(100%);
}

.github-logo:hover, .linkedin-logo:hover{
  opacity: 1;

}

main {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: var(--textColor);
  
}

.intro{
  padding-top: 6.5em;
  padding-bottom: .2em;
  line-height: 1.2em;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: 400;
  align-self: center;
  text-transform: uppercase;
  
}

.photo{
  box-shadow: -20px -20px var(--mainColor);
  margin-left: 3em;
}


.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-content: center;
  margin: 0 auto;
  margin-left:1.3em;
  
}

.name-wrapper{
  display: flex;
  align-self: center;
}

.name {
  font-weight: 800;
  color: var(--mainColor);
  display: inline-block;
}

.left-bracket, .right-bracket, .blink{
  font-weight: 200;
}

.blink{
  animation: 
    blink-caret .5s step-end infinite;
  display: inline-block;
  animation-delay: 3.5s;
  color: transparent;
  left: -50px
}

.scroll-wrapper{
  margin: 0 auto;
}

.small-text, .scroll{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  color: var(--textColor);
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;

}


.scroll {
display: flex;
flex-direction: column;
position: absolute;
left: 65%;
top: 87%;
font-size:12px;
}

.arrow {
  align-self: center;
  padding-top: 1.5em;
  width: 25px;
}

.container{
  background-color: #fff;
  float: left;  
  position: relative;
  top: -50px;
  z-index: -1;
  height: 100vh;
  width: 50%;
}

.skills-wrapper{
  padding-top:8em;

}

.skills{
  color: var(--mainColor);
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text-decoration{
  height: 3px;
  width: 50px;
  background-color: var(--textColor);
  margin-bottom: .8em;
  margin-top: .3em;
  align-self: center;
}

.icons{
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  flex-wrap: wrap;
  justify-content: center;
}

.icon{
  width:auto;
  height: 80px;
  margin: 15px;
  filter: grayscale(100%);
}

.icon:hover{
  filter: none;
}

.about {
  float:right;
}


  @keyframes blink-caret {
    from, to { color: var(--textColor)}
    50% {color: transparent  }
  }
  

  .animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
  }
