
body{
  background-image: url(/img/background-texture.png);
  background-color: #c4c4c462;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  --mainColor: #41BEB7;
  --textColor:#646464;
}


a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2em;
  padding-top: 1.5em;
  position: relative;
  left: 80%;
  opacity: 80%;
}


main {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: var(--textColor);
  padding-right: .5em;
}

.intro{
  padding-top: 6.5em;
  padding-bottom: .2em;
  line-height: 1.2em;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: 400;
  align-self: center;
}

.photo{
  box-shadow: -20px -20px #41BEB7;
  margin-left: 2em;
}


.wrapper {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.name-wrapper{
  display: flex;
  
}


.name {
  font-weight: 800;
  color: var(--mainColor);
  display: inline-block;
}

.left-bracket, .right-bracket, .blink{
  font-weight: 200;
}

.blink{
  animation: 
    blink-caret .5s step-end infinite;
  display: inline-block;
  animation-delay: 3.5s;
  color: transparent;
  left: -50px
}

.small-text, .scroll{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  color: var(--textColor);
  text-align: center;
  padding-top: 10px;
}


.scroll {
display: flex;
flex-direction: column;
position: absolute;
left: 65%;
top: 87%;
font-size:12px;
}

.arrow {
  align-self: center;
  padding-top: 1.5em;
  width: 25px;
}

.skills, .about{
  background-color: #fff;
  float: left;  
  position: relative;
  top: -50px;
  z-index: -1;
  height: 100vh;
  width: 50%;
}

.about {
  float:right;
}


  @keyframes blink-caret {
    from, to { color: var(--textColor)}
    50% {color: transparent  }
  }
  

  .animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
  }
